#left-nav {
  padding-left: 5px;
}

#center-nav {
  text-align: center;
  font-family: nearly-dignified;
  font-size: 25px;
}

#right-nav {
  text-align: right;
  padding-right: 5px;
}

#navbar {
  min-height: 60px;
  box-shadow: 0 8px 6px -6px #888888;
}
