#center-nav {
  text-align: center;
}

#main-icon {
  color: black;
  font-family: vollkorn-semibold-italic;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-decoration-line: none;
}

#navbar {
  min-height: 60px;
}

@media only screen and (max-width: 700px) {
  #main-icon {
    font-size: 22px;
    letter-spacing: normal;
  }
}
