@font-face {
  font-family: "nearly-dignified";
  src: url("./nearly-dignified/NearlyDig.ttf");
}

@font-face {
  font-family: "nearly-dignified-condensed";
  src: url("./nearly-dignified/NearlyDigCon.ttf");
}

@font-face {
  font-family: "nearly-dignified-italic";
  src: url("./nearly-dignified/NearlyDigItalic.ttf");
}
