@font-face {
  font-family: "vollkorn-black";
  src: url("./vollkorn/VollkornBlack-p73ZD.ttf");
}

@font-face {
  font-family: "vollkorn-black-italic";
  src: url("./vollkorn/VollkornBlackItalic-DO0L3.ttf");
}

@font-face {
  font-family: "vollkorn-bold";
  src: url("./vollkorn/VollkornBold-ALwGg.ttf");
}

@font-face {
  font-family: "vollkorn-extrabold";
  src: url("./vollkorn/VollkornExtrabold-VGqze.ttf");
}

@font-face {
  font-family: "vollkorn-extrabold-italic";
  src: url("./vollkorn/VollkornExtraboldItalic-JRaJK.ttf");
}

@font-face {
  font-family: "vollkorn-italic";
  src: url("./vollkorn/VollkornItalic-GOKlA.ttf");
}

@font-face {
  font-family: "vollkorn-medium";
  src: url("./vollkorn/VollkornMedium-jEVry.ttf");
}

@font-face {
  font-family: "vollkorn-medium-italic";
  src: url("./vollkorn/VollkornMediumItalic-z89XL.ttf");
}

@font-face {
  font-family: "vollkorn-regular";
  src: url("./vollkorn/VollkornMediumItalic-z89XL.ttf");
}

@font-face {
  font-family: "vollkorn-semibold";
  src: url("./vollkorn/VollkornSemibold-6Yay1.ttf");
}

@font-face {
  font-family: "vollkorn-semibold-italic";
  src: url("./vollkorn/VollkornSemiboldItalic-ywjLV.ttf");
}
